<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns alpha">
      <h5>Subscribe</h5>
        Register to receive updates and offers.
        <form id="subscribe">
          <p class="email">
            <input type="text" name="email" id="email"/>
          </p>
          <p class="submit">
            <input type="submit" value="send"/>
          </p>
        </form>
      <h5>Connect</h5>
      <%= link_to image_tag("icons/Twitter.png", alt: "Twitter", :width => 30, :height => 30), 'http://twitter.com/', {:class => "social"}%>
      <%= link_to image_tag("icons/facebook.png", alt: "Twitter", :width => 30, :height => 30), 'http://twitter.com/', {:class => "social"}%>
      <%= link_to image_tag("icons/googleplus.png", alt: "Twitter", :width => 30, :height => 30), 'http://twitter.com/', {:class => "social"}%>
      <%= link_to image_tag("icons/pinterest.png", alt: "Twitter", :width => 30, :height => 30), 'http://twitter.com/', {:class => "social"}%>
      <%= link_to image_tag("icons/flickr.png", alt: "Twitter", :width => 30, :height => 30), 'http://twitter.com/', {:class => "social"}%>
    </div>

    <div class="four columns">
      <h5>About</h5>
      Scraptsy provides digital artworks for your scrapbooks, cards, words and more.
    </div>
    
    
    <div class="four columns">
      <h5>Learn More</h5>
      <ul>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Sell</a></li>
        <li><a href="/products">Blogs</a></li>
        <li><a href="/products">Resource</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Contact Us</h5>
      <%= render :partial => 'spree/shared/contact' %>
    </div>



    <div id="copyright-wrap" class="sixteen columns">
      <div id="copyright" >
        &copy; 2014 Scraptsy. All Rights Reserved.  
      </div>
    </div>
    
  </div><!--.container ends-->
</footer>